@use "../abstracts" as *;

.destination {
  padding: 76px 0px 112px;

  @include media(1024) {
    padding: 76px 0px;
  }

  @include media(768) {
    padding: 40px 0px 62px;
  }

  @include media(640) {
    padding: 24px 0px 57px;
  }

  &__heading {
    font-family: "Barlow Condensed";
    font-size: 28px;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;

    @include media(768) {
      font-size: 20px;
      letter-spacing: 3.375px;
    }

    @include media(640) {
      text-align: center;
      font-size: 16px;
      letter-spacing: 2.7px;
    }

    &::before {
      margin-right: 28px;
      content: "01";
      opacity: 0.25;
    }
  }

  &__content {
    margin-top: 64px;
    display: flex;
    gap: 94px;

    @include media(1024) {
      flex-direction: column;
    }

    @include media(768) {
      margin-top: 60px;
      gap: 53px;
    }

    @include media(640) {
      gap: 26px;
    }
  }

  &__img-container {
    display: none;
    flex: 1 1 auto;

    &.is-active {
      display: block;
    }

    img {
      margin-inline: auto;

      @include media(768) {
        max-width: 300px;
      }

      @include media(640) {
        max-width: 170px;
      }
    }
  }

  &__text {
    flex: 0 1 40%;
    color: $clr-accent;

    @include media(1024) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 36px;

    @include media(1024) {
      justify-content: center;
    }
  }

  &__list-item {
    position: relative;
    cursor: pointer;
    padding-bottom: 12px;
    font-family: "Barlow Condensed";
    font-size: 16px;
    line-height: normal;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: $clr-light;

    &.is-active {
      &::after {
        opacity: 1;
      }

      @include hover {
        &::after {
          opacity: 1;
        }
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background-color: $clr-light;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }

    @include hover {
      &::after {
        opacity: 0.5;
      }
    }
  }

  &__info {
    display: none;
    margin-top: 37px;

    &.is-active {
      display: block;
    }

    @include media(768) {
      margin-top: 32px;
    }

    @include media(640) {
      margin-top: 20px;
    }
  }

  &__info-heading {
    text-transform: uppercase;
    color: $clr-light;

    @include media(768) {
      font-size: 80px;
      line-height: normal;
    }
  }

  &__info-text {
    margin-top: 14px;

    @include media(768) {
      margin-top: 8px;
    }

    @include media(640) {
      margin-top: 1px;
    }
  }

  &__characteristics {
    margin-top: 54px;
    padding-top: 28px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 79px;
    border-top: 1px solid $clr-gray;

    @include media(1024) {
      justify-content: center;
    }

    @include media(768) {
      margin-top: 49px;
    }

    @include media(640) {
      margin-top: 32px;
      padding-top: 32px;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__characteristic {
    text-transform: uppercase;
  }

  &__characteristic-heading {
    font-family: "Barlow Condensed";
    font-size: 14px;
    line-height: normal;
    letter-spacing: 2.362px;
  }

  &__characteristic-text {
    margin-top: 12px;
    font-family: "Bellefair";
    font-size: 28px;
    color: $clr-light;
  }
}
