@use "../abstracts" as *;

.menu {
  font-family: "Barlow Condensed", sans-serif;
  counter-reset: menu-item;
  display: flex;
  align-items: center;
  gap: 48px;

  @include media(768) {
    gap: 37px;
  }

  @include media(640) {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    color: $clr-light;
    transition: all 0.3s ease-out;

    @include hover {
      box-shadow: inset 0px -3px 0px 0px rgba($color: $clr-light, $alpha: 0.5);
    }

    @include media(640) {
      gap: 11px;
    }

    &::before {
      counter-increment: menu-item;
      content: "0" counter(menu-item, decimal);
      font-weight: 700;

      @include media-combine(640, 768) {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;

    @include media(640, min) {
      padding: 38px 0px;
    }
  }
}
